

#trail {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-image: url('./Images/nit_kurukshetra-06-05-2023-0001.jpg');
    background-size: cover;
    background-position: center;
}

